<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Management</title>
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="/site-img/755900183recipe-logo.png" alt="" width="100px">
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <form class="form-horizontal" id="adminLogin" action="/admin/login" method="POST">
                    <div class="form-group mb-3">
                        <label>Username</label>
                        <input type="text" class="form-control" name="adminusername" placeholder="UserName">
                    </div>
                    <div class="form-group mb-3">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block mb-2">LogIn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>